<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.imadelkholti.iMadTube"
        versionCode = "1" 
        version     = "0.1.199" >

    <!-- versionCode is optional and Android only -->

    <name>iMadTube</name>

    <description>
        iMadTube.
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Hardeep Shoker 
    </author>
    <gap:plugin name="net.tunts.webintent" version="0.2.1" />
</widget>
    